/* recipes.css 
this is an example and introduction to external css*/


body {
    background-color: dimgray;
    font-family: 'Times New Roman', Times, serif;
}
.title {
    font-size: 45px;
    color: seashell;
    text-align: center;
}
div {
    background-color:deepskyblue;
    font-size: 30pt; 
    text-align: center;  
}
img {
    
    border: 15px solid white;
    margin-bottom: 20px;
    height: auto;
    width: 325px;
    
}


